* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    text-align: center; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.container {
    width: 100%;
    margin: 0px auto; 
}

.row:before .row:after {
    content: " "; 
    display: table; 
}

.row:after {
    clear:both; 
}


body {
  /* Establece la fuente de Google aquí */
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}

nav {
    background-color: #2C3E50; 
    position: fixed; 
    width: 100%; 
    font-weight: 900; 
}

.start {
    font-size: 28px; 
    text-decoration: none;
    color: white; 
     
}

li {
    display: inline-block;
    text-decoration: none;
    font-size: 14px; 
    margin-top: 13px; 
    cursor: pointer; 
    
}

nav li{
    color: white; 
}



li:hover {
  color: #18BC9C;
}


