#portada {
    background-color: #18BC9C;
    color: #fff;
   height: 700px; 
}

#senorBigoton {
  margin-top: 150px; 
}

.tamanoTexto {
    font-size: 50px; 
    font-weight:bolder; 
    text-align: center; 
}
    
.estrella {
    border-color: #fff;
    display: inline-block;
    margin-top: 0;  
    margin-bottom: 0; 
    font-size: 50px;
}

hr {
    
    width: 8.333%; 
    display: inline-block;
    border: 3px solid; 
}

h3 {
    font-size: 25px; 
    font-family: 'Lato', sans-serif;
}


#portfolio {
    background-color: white; 
    color: #2C3E50; 
    height: 700px; 
}


#textoPortfolio {
    font-size: 42px; 
    font-weight: 900; 
}

.imagenPortafolio {
    width: 100%; 
    margin-left: 42px; 
}


#about {
    background-color: #18BC9C; 
    color: white; 
    height: 700px; 
    padding-top: 130px; 
}

#tituloAbout {
    font-size: 42px; 
}

.textoAbout {
    font-size: 20px; 
    font-family: 'Lato', sans-serif;
    text-align: justify; 
   
}


.botonDescargar {
    font-size: 20px; 
    border: 2px solid #fff; 
    line-height: 1.3333333;
    background: 0 0; 
    margin-top: 45px;
    margin-left: 55px; 
    cursor: pointer;
    border-radius: 20px;
}

.botonDescargar>a {
    text-decoration: none;
    color: white; 
}


#contactMe{
    height: 700px; 
    background-color: white; 
     color: #2C3E50; 
    
}

#textoContactMe {
    font-size: 42px; 
    font-weight: 900; 
    padding-top: 80px; 
    
}